/* Header.css */
.app-header {
  display: flex;
  align-items: flex-start; /* Justert for å matche bildet */
  
  border-bottom: 1.5px solid #9a3941; /* Legger til en tynn, lys grå strek under headeren */

}

.left-panel {
  display: flex;
  flex-direction: column;
  background-color: #9a3941; /* Burgunderfarge fra bildet */
  color: white;
  padding: 10px;
  width: 160px; /* Juster bredden etter behov */
  align-items: center;
position: fix;}

.user-info {
  padding-top: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/*user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
  */

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: small;
  
}

.header-title {
  padding-left: 20px;
  font-size: 24px;
  font-weight: normal;
  color: rgb(45, 44, 44);

}


