.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewporthøyde */
}

.main-content {
  display: block;
  flex: 1;
  min-height: calc(100vh - [header-height]px); /* Erstatt [header-height] med faktisk header-høyde */
}

.sidebar {
  width: 180px;
  background-color: #7d203a;
  color: white;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0; /* Hindrer krympning */
  height: auto; /* La høyden tilpasse seg innholdet */
  position: relative;
}

.content-area {
  flex: 1;
  padding: 20px;
}


.sidebar-nav {
  padding: 20px 0;
  flex-grow: 1;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  padding: 10px 20px;
}

.sidebar-nav li.active {
  background-color: rgba(255,255,255,0.2);
}

.sidebar-nav a {
  color: white;
  text-decoration: none;
  display: block;
}

.sidebar-footer {
  padding: 20px;
  border-top: 1px solid rgba(255,255,255,0.1);
  bottom: 0;
  position: absolute;

}

.sidebar-footer a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.newsidebarheight { 
  top: 20px;
  bottom: 0px;


}